.intro-box {
    padding: 3rem 9rem;
    background: #FECE44;
    margin-bottom: 3rem;
}
.page-card-bg {
    border-radius: 30px;
    background: #FFF4E3;
    padding-top: 0.01rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 2rem;
    padding-bottom: 0.02rem;
    box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.25);

}
.flowchart{
    background: #FECE44;
    padding-left: 7%;
    padding-top: 1rem;
}
.product-content {
    font-family: var(--font-family);
font-weight: 400;
font-size: 0.9rem;
line-height: 175%;
text-align: left;
/* or 42px */
letter-spacing: 0.04px;
}

.product-title {
    margin-bottom: 2rem;
    font-size: 1.4rem;
    font-family: var(--font-family);
}
.product-page-title {
    margin-bottom: 2rem;
    font-size: 2.0rem;
    font-family: var(--font-family);
}

.image-row-9 {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 2rem;
    
}

.horizontal {
    width: 40%;
    margin: 0;
    padding: 0;
}

.product-page-margin {
    margin: 1rem 10%;
}

.gun {
    width: 18rem;
}

.brochure {
    
background: #000000;
border-radius: 8px;
width: 11rem;
height: 3.5rem;
color: white ;
padding: 1rem 0;
margin: 0 auto;
}

.download-icon {
    width: 0.9rem;
    margin: 0;
    
}

.button-content {
    display: flex;
    color: white;
    margin: 0 1rem;
    justify-content: space-between;
   
}

.button-text {
    font-family: var(--font-family);
    color: #FECE44;
}

.button-div {
    text-align: center;
}

#tech {
    font-size: 2.4rem;
    margin: 0rem 0;
}
.start {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4REM;
    margin-top: 2REM;
    margin-left: 10REM;
    margin-right: 20%;
    
   
}
.end {
    display: flex;
    justify-content: space-between;
    margin-top: 4REM;
    margin-left: 10REM;
    padding-bottom: 4rem;
    margin-right: 20%;
    
   
}


.mid {
    padding-left:35%;
}

.bio-medical,.spray-tech,.human,.tissue {
    border-radius: 10px;
background: #FFF;
box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.25);

    
}

.science {
    display: inline-block;
    padding: 1rem 0rem;
    background: #000;
border-radius: 8px;
margin-top: 1rem;
margin-bottom: 1rem;
padding: 1rem 2rem;

}

.spray-tech {
    width: 35%;
}
.human {
    width: 40%;
}

.tissue {
    width: 35%;
    height: 100%;
}
.bio-medical {
    height: 100%;
    width: 30%;
}
.arrow-row-1 {
    display: flex;
    padding-left: 5rem;
}

.arrow-1 {
        display: flex;
        justify-content: center;
        border-bottom: 1px solid black;
        width: 5%;
        transform: rotate(45deg);
        transform-origin: right center;
        background: #FCB040;
        margin-left: 25%;
     
    
}

.arrow-2 {
    display: flex;
        justify-content: center;
        border-bottom: 1px solid black;
        width: 5%;
        transform: rotate(-45deg);
        transform-origin: left center;
        background: #FCB040;
        margin-left: 18%;
}
.arrow-3 {
    display: flex;
        justify-content: center;
        border-bottom: 1px solid black;
        width: 5%;
        transform: rotate(-45deg);
        transform-origin: right center;
        background: #FCB040;
        margin-left: 30%;
}
.arrow-4 {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
    width: 5%;
    transform: rotate(45deg);
    transform-origin: left center;
    background: #FCB040;
    margin-left: 53%;
 

}
.flowchart-content {
    margin-left: 1rem;
    font-size: 0.90rem;
    text-align: left;
}
.flowchart-heading {
    font-weight: 600;
    margin-bottom: 0.3rem;
    margin-left: 1rem;
    text-align: left;
    /* margin-top: 1rem; */
}
.flowchart-heading-1 {
    color: #FECE44;
    text-align: center;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    /* margin-top: 1rem; */
}
@media screen and (max-width: 790px) {
    .product-page-margin {
        margin: 1rem 5%;
    }
    .image-row-9 {
        display: block;
    }
    .product-title {
        margin-bottom: 1rem;
    }
    .intro-box {
        padding: 1rem 1rem;
text-align: center;
    }
    .product-content {
        font-size: 0.9rem;
    }
    #smd {
        margin: 0;
    }
    .arrow-1,.arrow-2,.arrow-3,.arrow-4 {
        display: none;
    }
    #tech {
        font-size: 1.9rem;
        margin: 3rem 0;
    }
    .start {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .end {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .bio-medical,.spray-tech,.human,.tissue,.science {
        width: 100%;
    }
    .human {
        margin-top: 0rem;
    }
    .science {
        margin-bottom: 1rem;
    }
    .tissue{
        margin-top: 2rem;
    }
}