.video-responsive {
  overflow: hidden;
  padding-bottom: 42.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 90%;
  width: 100%;
  position: absolute;
}
.hero_title {
  margin-top: 4rem;
  text-align: center;
  font-size: 1.6rem;
  font-family:  var(--font-family);
}
.group-div {
  display: flex;
  padding: 5rem 1rem;
  justify-content: center;
}
.easy {
  margin-left: 3rem;
}
.hospital {
  margin-right: 4rem;
}
.easy,
.hospital,
.surgery {
  width: 100%;
  text-align: center;
  font-family: var(--font-family);

}
.surgery > h1 {
  font-size: 1.2rem;
  padding-bottom: 1rem;
  font-family: var(--font-family);
}
.easy > h1 {
  font-size: 1.2rem;
  padding-bottom: 1rem;
  font-family: var(--font-family);
}
.hospital > h1 {
  font-size: 1.2rem;
  padding-bottom: 1rem;
  font-family: var(--font-family);
}
.reducing {
  color: #ff9900;
}
.know-more-parent {
  display: flex;
  justify-content: center;
  font-family: var(--font-family);
  margin-bottom: 1rem;
}
.group-div-content {
  font-family: var(--font-family);
  font-size: 0.95rem;
}

.icon {
  width: 0.8rem;
  margin: 0 0.5rem;
}
@media screen and (max-width: 1190px) {
  .hero_title {
    font-size: 1rem;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .group-div-heading {
    margin-top: 1rem;
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 900px) {
  .group-div {
    display: block;
    margin-bottom: 2rem;
    padding: 1rem 2rem;
  }
  .video-responsive {
    overflow: hidden;
    padding-bottom: 62.25%;
    position: relative;
    height: 0;
  }
  .group-div-content {
    line-height: 150%;
  }
}
