.video-responsive {
  overflow: hidden;
  padding-bottom: 42.25%;
  position: relative;
  height: 0;
}
.video-responsive iframe {
  left: 0;
  top: 0;
  height: 90%;
  width: 100%;
  position: absolute;
}
.hero_title {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.6rem;
  font-family:  var(--font-family);
}
.video-text {
  text-align: left;
  font-size: 2.4rem;
  font-family:  var(--font-family);
  font-weight: 300;
  margin-bottom: 2rem;
}
.watch-story {
  background: white;
  display: inline-flex ;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  border-radius: 10px;
  margin-top: 1rem;
}
.play {
  margin: 0 1rem  0 1rem;
  width: 15%;
}
.video-subtext {
  text-align: left;
  font-size: 1.1rem;
  font-family:  var(--font-family);
  font-style: normal;
font-weight: 300;
line-height: 150%;
padding-right: 13rem;
}

.subtext-mew {
  font-size: 0.9rem;
  padding-bottom: 1rem;
  text-align: left;
  font-family: var(--font-family);
}
.video-heading {
  text-align: center;
  font-size: 2.7rem;
}
.design {
  height: 91%;
  margin: 0;
}
.group-div {
  display: flex;
  padding: 2rem 1rem;
  justify-content: center;
}
.easy {
  background: hsl(36, 100%, 95%);
  margin-right: 13rem;
}
.hospital {
  margin-left: 13rem;
}
.easy,
.hospital,
.surgery {
  width: 15%;
  padding: 3rem 0.8rem;
  text-align: center;
  font-family: var(--font-family);
  background: #FFF4E3;
  box-shadow: 5px 8px 15px 5px rgba(0, 0, 0, 0.27);
  border-radius: 0.625rem;
  transition: transform 0.2s ease;

}
.easy:hover,.hospital:hover,.surgery:hover {
  transform: translateY(-10px);
}
.group-div-heading{
  font-size: 1.1rem;
  padding-bottom: 1rem;
  font-family: var(--font-family);
}

.reducing {
  color: #ff9900;
}
.know-more-parent {
  display: flex;
  justify-content: center;
  font-family: var(--font-family);
  margin-bottom: 1rem;
}
.group-div-content {
  font-family: var(--font-family);
  font-size: 0.90rem;
}
.product-widget{
  border-radius: 1.2rem;
  width: 35%;
  box-shadow: 6px 10px 10px 5px rgba(0, 0, 0, 0.28);
margin-right: 2rem;
padding-bottom: 1rem;
background:white;
transition: transform 0.2s ease;

}

.product-widget:hover {
  transform: translateY(-15px);
}
.our-products{
  background: #FECE44;
  padding: 2rem 0;
  margin-bottom: 3rem;
}
.widget-text{
  padding-left: 1.4rem;
}
.icon {
  width: 0.8rem;
  margin: 0 0.5rem;
}
.product-row{
  display: flex;
  justify-content: space-between;
  margin: 1rem 15rem;
}
.hero-image-lol{
  background: #FECE44;
  display: flex;
  margin-bottom: 3rem;
}
.home-img{
  width: 58%;
  
  margin:0;
}
.texts-bohot-sara {
  margin-left: 8rem;
   margin-top: 6rem;
   margin-bottom: 4rem;
}
.employee {
  background: linear-gradient(180deg, #FECE44 30%, #FFFFFF 0%);
}
.title-1 {
  font-size: 1.4rem;
  margin-left: 4rem;
  margin-bottom: 2rem;
  text-decoration: underline;
  text-decoration-color: #fcb040;
  font-family:  var(--font-family);
}
@media screen and (max-width: 1190px) {
  .hero_title {
    font-size: 1rem;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .group-div-heading {
    margin-top: 1rem;
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 900px) {
  .group-div {
    display: block;
    margin-bottom: 2rem;
    padding: 1rem 2rem;
  }
  .video-responsive {
    overflow: hidden;
    padding-bottom: 62.25%;
    position: relative;
    height: 0;
  }
  .group-div-content {
    line-height: 150%;
  }
}
