.row {
    display: flex;
    justify-content: space-between;
}

.title-row {
    font-size: 2.4rem;
    font-family:  var(--font-family);
    margin-bottom: 1.5rem;
    font-weight: 700;

}

.adv-heading {
    font-family: var(--font-family);
    font-size: 1.4rem;
}
ul {
       
        color: #FF9900;
    
}

ul p{
    
    color: black;
    font-family: var(--font-family);
    font-size: 0.95rem;
    line-height: 200%;

}

h3 {
    font-size: 1.6rem;
    font-weight: 700;
    font-family:  var(--font-family);
    margin-bottom: 1.3rem;
}

.stake {
    color: #FF9900;
}
@media screen and (max-width: 790px) {
    .row {
        display: flex;
        flex-direction: column;
    }
    .adv-heading {
        margin-top: 1rem;
    }
    .title-row {
        font-size: 1rem;
        font-family:  var(--font-family);
        margin-bottom: 1.5rem;
        font-weight: 700;
    
    }
}