.row {
    display: flex;
    justify-content: space-between;
}

.title-row {
    font-size: 2.1rem;
    font-family:  var(--font-family);
    margin-bottom: 1.5rem;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: #fcb040;

}

.advantages{
    background: #FECE44;
    
    padding: 1rem 4rem;
}
.doctors {
    border-radius: 30px;
background: #FFF;
padding: 2rem 2rem;
box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.25);
}

.patients{
    padding: 2rem 2rem;
    border-radius: 30px;
    background: #FFF;
    box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.25);
}
.adv-heading {
    font-family: var(--font-family);
    font-size: 1.4rem;
    color: #000;
}
ul {
       
        color: #FF9900;
    
}

ul p{
    
    color: black;
    font-family: var(--font-family);
    font-size: 0.95rem;
    line-height: 200%;

}

h3 {
    font-size: 1.6rem;
    font-weight: 700;
    font-family:  var(--font-family);
    margin-bottom: 1.3rem;
}

.stake {
    color: #FF9900;
}
@media screen and (max-width: 790px) {
    .row {
        display: flex;
        flex-direction: column;
    }
    .adv-heading {
        margin-top: 1rem;
    }
    .title-row {
        font-size: 1rem;
        font-family:  var(--font-family);
        margin-bottom: 1.5rem;
        font-weight: 700;
    
    }
}