.pacify_navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 95px;
    padding-left: 3rem;
    /* box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.2) */
  }
  .pacify_navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .logo{
    width: 70%;
    height: 50%;
    margin: 0;
  }

  .pacify_navbar-links_container {
    display: flex;
  }

  .pacify_navbar-links_container p  {
    margin-right: 4rem;
    font-family: var(--font-family);
    font-size: 0.7 rem;
    text-align: center;
  }

  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    margin-right: 4rem;
    font-family: var(--font-family);
    font-size: 0.7 rem;
    text-align: center;
    color: black;}
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 8rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

.pacify-menu {
  margin-left: 1rem;
display: none;
  position: relative;
}
.pacify-menu svg {
  cursor: pointer;
}
.menu-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  text-align: center;
  background: var(-color-footer);
  padding: 2rem;
  position: absolute;
  top: 10px;
  right: 0;
  margin-top: 1rem;
  min-width: 210px;
  background: white;
  border-radius: 5px;
  box-shadow:0 0 5 Orgba(0,0,0,0.2);
z-index: 1;
}

  .menu-links {
    margin: 1rem 0;
  }
  .menu-links p {
    margin: 0.7rem 0;
  }
  @media screen and (max-width: 1190px) {
    .logo{
width: 60%;
      height: 120%;
      padding: 0;
    }
    .pacify_navbar-links_container {
      display: none;
    }
    .pacify-menu{
      display: flex;
    }
    .pacify_navbar {
      padding: 2rem;
  }

  .menu-container {
      top: 20px;
  }

  .menu-links {
      display: block;
  }
  }
