.pacify_navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 95px;
    padding-left: 3rem;
    /* box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.2) */
  }
  .pacify_navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .logo{
    width: 90px;
    height: 40px;
    padding: 0;
  }

  .pacify_navbar-links_container {
    display: flex;
  }

  .pacify_navbar-links_container p  {
    margin-right: 4rem;
    font-family: var(--font-family);
    font-size: 0.7 rem;
    text-align: center;
  }

  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    margin-right: 4rem;
    font-family: var(--font-family);
    font-size: 0.7 rem;
    text-align: center;
    color: black;}
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 8rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }