.career-title {
  font-family:  var(--font-family);
  font-size: 2.4rem;
  margin-left: 6rem;
  font-weight: 600;
  margin-bottom: 3rem;
}

.banner {
  display: inline-block;
  background: linear-gradient(90deg, #ff9900 66%, transparent 50%);
  padding-top: 3rem;
  padding-bottom: 3rem;

  position: relative;
}

.banner-text {
  font-size: 2.8rem;
  font-family:  var(--font-family);
  text-align: center;
  margin-left: 18rem;
  z-index: 1;
}

.white-text {
  color: white;
}

.banner-image {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  width: 4rem;
  z-index: -1; /* Place the image underneath the text */
}
.goals {
  margin: 2rem 20%;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  /* or 36px */
  font-size: var(--font-family);
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 7rem;
}

.career-heading {
  font-size: 2rem;
  font-family:  var(--font-family);
  margin-bottom: 2rem;
  letter-spacing: 0.01em;
}

.image-row-4 {
  display: flex;
  margin-top: 2rem;
}

.random {
  height: 20rem;
  margin-left: 15rem;
  margin-bottom: 0;
}

.career-sub {
  color: #858585;
  font-weight: 600;
  font-family: var(--font-family);
  margin: 0.8rem 0;
  line-height: 150%;
}
.fit-text {
  margin-left: 15rem;
  margin-bottom: 3rem;
}

.part-2 {
  color: white;
  background: black;
  padding-top: 0.6rem;
  padding-bottom: 0.1rem;
  margin-top: 2rem;
}
.open {
  margin-left: 8rem;
}
.career-content {
  font-size: 1rem;
  font-weight: 400;
  font-family: var(--font-family);
}

.engineering {
  margin-top: 3rem;
  margin-left: 6rem;
  font-size: 1.4rem;
}

.hammer {
  margin: 0 0.7rem;
  width: 1.1rem;
  padding: 0;
}

.list-1 {
  display: flex;
  align-items: center;
  margin-left: 5rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.benefits-text-1 {
  margin: 2rem 4rem 0rem 5rem;
}

.location-button {
  display: inline-block;
  background: #fcb040;
  padding: 0.4rem 0.8rem;
  margin-right: 1rem;
}
.posting-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.location-1 {
  display: flex;
  align-items: center;
  margin-right: 5rem;
}

@media screen and (max-width: 790px) {
  .banner {
    display: inline-block;
    background: linear-gradient(90deg, #ff9900 74%, transparent 10%);
    padding-top: 3rem;
    padding-bottom: 3rem;

    position: relative;
  }
  .banner-text {
    font-size: 1.9rem;
    font-family:  var(--font-family);
    text-align: start;
    margin-left: 2rem;
    z-index: 1;
  }
  .banner-image {
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-50%, -50%);
    width: 4rem;
    z-index: -1; /* Place the image underneath the text */
  }
  .goals {
    margin: 1rem 10%;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    font-size: var(--font-family);
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 2rem;
  }
  .random {
    text-align: center;
    width: 100%;
    margin: 0 0 2rem 0;
  }
  .image-row-4 {
    display: flex;
    flex-direction: column;
  }
  .benefits-text-1 {
    margin: 2rem;
  }
  .fit-text {
    margin-left: 2rem;
    margin-top: 2rem;
    margin-right: 2rem;
  }
  .list-1 {
    margin-left: 1rem;
  }
  .location-1 {
    margin-right: 1rem;
  }
  .engineering {
    text-align: center;
    margin: 1rem  0 1rem 0;
  }
  .open {
    margin: 1rem 0;
    text-align: center;
  }
}
