.title {
  font-size: 1.4rem;
  margin-left: 8rem;
  margin-bottom: 5rem;
  text-decoration: underline;
  text-decoration-color: #fcb040;
  font-family:  var(--font-family);
}
.new-div-yes{
  width: 70% !important;

}
.icon1 {
  margin: 0;
  width: 100% !important;
}
.slider-1{
  margin-bottom: 2rem;
}
h5,
h6 {
  font-family:  var(--font-family);
  font-weight: 300;
  width: 100%;
  text-align: center;
}

h6 {
  color: #717171;
}

@media screen and (max-width: 990px) {
  .title {
    margin-left: 2rem;
  }
  .parent {
    padding-left: 3rem;
    align-items: center;
  }
  .child {
    margin-bottom: 1rem;
  }
}