.endcard{
    background: #FECE44;
}
.contact {
    text-align: left; 
    font-weight: bolder;
}
.text-bold {
    font-weight: bolder;
    color: black;
    font-size: 0.7rem;
    padding: 1.2rem 0;
    text-align: left;
}
.address{
    text-align: left;
    font-size: 0.7rem;
    padding-bottom: 1rem;
}
.text {
    text-align: left;
    width: 60%;
    font-size: 0.7rem;
  }
.flex-row{
    display: flex;
    align-items: center;
}
  .submit {
    background: black;
    color: #FCB040;
    font-family: Inter;
    font-size:0.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 2rem;
  }
