.vertical,.horizontal {
    margin: 0;
}
.vertical {
    height: 25rem;
}

.horizontal-image,.horizontal-image-2,.horizontal-image-3 {
    width: 23rem;
    margin: 0;
}
.image-row-hurt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4rem;
}

.sub-heading {
    font-family: var(--font-family);
font-weight: 600;
font-size: 1rem;
line-height: 150%;
color: #000000;
}

.description {
    font-family: var(--font-family);
font-weight: 400;
font-size: 0.95rem;
line-height: 120%;
color: #000000;
}

.benefits-text {
    width:30rem;
}

.images {
    display: flex;
    align-items: center;
}

.image-row-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 4rem;
}

.image-row-3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4rem;
}

@media screen and (max-width: 790px) {
    .image-row-hurt,.image-row-2,.image-row-3 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: 2rem;
    }
    .vertical {
        margin: 0 1rem 0 0 ;
        width: 50%;
    }
    .horizontal-image {
        margin: 1rem 0 1rem 0;
        width: 55%;
    }
    .benefits-text {
        width: 100%;
    }
    .description {
        line-height: 150%;
    }
    .horizontal-image-2,.horizontal-image-3 {
        width: 100%;
        margin-bottom: 1rem;
        margin-top: 0;
    }
    .horizontal-image-2 {
        margin-top: 1rem;
    }
}